body {
   /* background: black url(wood.png) repeat; */
   background-image:linear-gradient(#05005c, #5372c2, #ffffff);
   position: relative;
   width: 100%;
   
   min-width: 1000px;
    
}
 aside {
    width: 40%;
    padding-left: 0rem;
    margin-left: .5rem;
    float: left-side;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

aside > p {
    margin: .5rem;
}